PORT=3000
SHOP_NAME=Rolling Wrench Diesel
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_FROM=+12605026222
NOTIFY_SMS_TO=+12605026222
APP_INGEST_URL=
